<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Gauge needs access to local networks.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_takematch._tcp</string>
		<string>_takematch._udp</string>
	</array>
</dict>
</plist>
